.task {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
  	"label file button"
	"text text text";
  width: 60%;
  margin: 40px auto;
}

.task_label {
	grid-area: label;
	align-self: start;
}

.task_file {
	grid-area: file;
	align-self: start;
}

.task_button { 
	grid-area: button;
	align-self: start;
}

.task_text { grid-area: text; }

.option {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "label value .";
  width: 800px;
  margin: 20px auto;
}

.option_label {
	grid-area: label;
	justify-self: start;
}

.option_value {
	grid-area: value;
	justify-self: start;
}

.centered {
	display: block;
	margin: 0 auto;
	text-align: center;
}
