{{ define "navigation" }}
	{{ partial "header.html" . }}
{{ end }}

{{ define "main" }}
    {{ $section_title := printf "%s. " .Parent.Title }}
    {{ $language := $.Param "language" }}
    {{ if or .PrevInSection .NextInSection }}
    <div class="nav-links">
            {{ if .PrevInSection }}
                <a href="{{ .PrevInSection.Permalink }}">◀ {{ replace .PrevInSection.Title $section_title "" }}</a>
            {{ else }}
                <div></div>
            {{ end }}
            {{ if .NextInSection }}
                <a href="{{ .NextInSection.Permalink }}">{{ replace .NextInSection.Title $section_title "" }} ▶</a>
            {{ else }}
                <div></div>
            {{ end }}
        </div>
        <hr>
    {{ end }}
    <h1>{{ .Title }}</h1>
    {{ $t := math.Round (div (countwords .Content) 200.0) }}
    {{ if (gt $t 2) }}
        <h3>{{ if eq $language "en" }}Read time: {{ $t }} minutes{{ else }}Время чтения: {{ $t }} минут{{ end }}</h3>
    {{ end }}
    {{ .Content }}
    <hr>
    <div align="center">
        <a href="{{ .Permalink }}#top">▲ {{ if eq $language "en" }}To beginning{{ else }}В начало{{ end }} ▲</a>
    </div>
    {{ if or .PrevInSection .NextInSection }}
        <hr>
	    <div class="nav-links">
            {{ if .PrevInSection }}
                <a href="{{ .PrevInSection.Permalink }}">◀ {{ replace .PrevInSection.Title $section_title "" }}</a>
            {{ else }}
                <div></div>
            {{ end }}
            {{ if .NextInSection }}
                <a href="{{ .NextInSection.Permalink }}">{{ replace .NextInSection.Title $section_title "" }} ▶</a>
            {{ else }}
                <div></div>
            {{ end }}
        </div>
    {{ end }}
{{ end }}
