<!DOCTYPE html>
<html lang="ru">
{% include head.html %}

<body>
  <div id="wrapper">
    <header>
        <p align="center">
            +--------------------------+<br>
            |.------------------------.|<br>
            ||&nbsp;<a href="{{ "/index" | prepend: site.baseurl | replace: '//', '/' }}">kee_reel@blog</a>:~$ cd&nbsp;&nbsp;&nbsp;&nbsp;||<br>
            ||&nbsp;<a href="{{ "/c-ru" | prepend: site.baseurl | replace: '//', '/' }}">c</a>&nbsp;<a href="{{ "/cpp-ru" | prepend: site.baseurl | replace: '//', '/' }}">c++</a>&nbsp;<a href="{{ "/python-ru" | prepend: site.baseurl | replace: '//', '/' }}">python</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;||<br>
            ||&nbsp;<a href="{{ "/opengl-cpp-ru" | prepend: site.baseurl | replace: '//', '/' }}">opengl</a>&nbsp;<a href="{{ "/sql-ru" | prepend: site.baseurl | replace: '//', '/' }}">sql</a>&nbsp;<a href="{{ "/network-ru" | prepend: site.baseurl | replace: '//', '/' }}">сети</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;||<br>
            ||&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;||<br>
            ||&nbsp;<a href="{{ "/plag-ru" | prepend: site.baseurl | replace: '//', '/' }}">мой_проект</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ "/about-ru" | prepend: site.baseurl | replace: '//', '/' }}">обо_мне</a>&nbsp;||<br>
            |.------------------------.|<br>
            +-::--------------------::-+<br>
            .--------------------------.<br>
            &nbsp;//&nbsp;/o<a href="{{ "/links-ru" | prepend: site.baseurl | replace: '//', '/' }}">o</a>ooooooooooooooooooo\\&nbsp;\\&nbsp;<br>
            &nbsp;//&nbsp;/ooooooooooooooooooooooo\\&nbsp;\\&nbsp;<br>
            //------------------------------\\<br>
            \\------------------------------//<br>
        </p>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>
  </div>

  {% include footer.html %}
</body>

</html>
