<!DOCTYPE html>
<html lang="ru">
{% include head.html %}

<body>
  <div id="wrapper">
    <header>
        <p align="center">
            +--------------------------+<br>
            |.------------------------.|<br>
            ||&nbsp;<a href="{{ "/index-en" | prepend: site.baseurl | replace: '//', '/' }}">kee_reel@blog</a>:~$ cd&nbsp;&nbsp;&nbsp;&nbsp;||<br>
            ||&nbsp;<a href="{{ "/c-en" | prepend: site.baseurl | replace: '//', '/' }}">c</a>&nbsp;<a href="{{ "/python-en" | prepend: site.baseurl | replace: '//', '/' }}">python</a>&nbsp;<a href="{{ "/terminal-en" | prepend: site.baseurl | replace: '//', '/' }}">terminal</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;||<br>
            ||&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;||<br>
            ||&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;||<br>
            ||&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ "/about-en" | prepend: site.baseurl | replace: '//', '/' }}">about</a>&nbsp;||<br>
            |.------------------------.|<br>
            +-::--------------------::-+<br>
            .--------------------------.<br>
            &nbsp;//&nbsp;/ooooooooooooooooooooo\\&nbsp;\\&nbsp;<br>
            &nbsp;//&nbsp;/ooooooooooooooooooooooo\\&nbsp;\\&nbsp;<br>
            //------------------------------\\<br>
            \\------------------------------//<br>
        </p>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>
  </div>

  {% include footer.html %}
</body>

</html>
